<!DOCTYPE xml>
<menu>
	<submenu label="Ocorrências" icon="ui-icon-home">
	<grupo value="COORDENADORES"></grupo>
	<grupo value="TECNICOS"></grupo>
		<menuitem value="Gerar Ocorrência" outcome="/restrito/ocorrencia/PesquisaOcorrencia.xhtm"/>>
	</submenu>
	<submenu label="Usuário" icon="ui-icon-home">
	<grupo value="COORDENADORES"></grupo>
	<grupo value="TECNICOS"></grupo>
		<menuitem value="Manter Usuário" outcome="/restrito/usuario/ManterUsuario.xhtml"/>>
	</submenu>
	<submenu label="Unidade" icon="ui-icon-home">
	<grupo value="COORDENADORES"></grupo>
		<menuitem value="Manter Unidade" outcome="/restrito/unidade/ManterUnidade.xhtml"/>
	</submenu>
</menu>
